<h1>The Library Application</h1>

<h2><% provide(:title, 'Manage rooms') %></h2>
<br><br>
<%= link_to "Home", current_member %>
<span style="display:inline-block; width: 3%;"></span>
<% if current_member.admin? %>
<%= link_to 'Add a room', new_room_path %>
    <% end %>
<span style="display:inline-block; width: 3%;"></span>
<%= link_to 'Log out', logout_path %>

<br><br>
<table>
  <thead>
  <tr>
    <th>Room number</th>
    <th>Building</th>
    <th>Size</th>
  </tr>
  </thead>

  <tbody>
  <% @room.each do |room| %>
      <tr>


        <td><%= link_to room.number, room %></td>
        <td><%= link_to room.building, room %></td>
        <td><%= link_to room.size, room %></td>
        <td>| <%= link_to "Schedule", schedule_path(:id => room.id) %></td>

        <td><% if current_member.admin? %>
              | <%= link_to "History", roomhistories_path(:number => room.number) %></td>
              <td><%= button_to "Delete", room, method: :delete, data: { confirm: "You sure?" } %></td>
          <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
