<h1>Room schedule</h1>
<%= @room.number %>, <%= @room.building %>, <%= @room.size  %>

<table>
  <thead>
  <tr>
    <th>Time</th>
    <% 7.times do |day_number| %>
        <% datetime = Time.now + day_number.days %>
        <th><%= datetime.strftime("%F") %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
    <% @begin_time = Time.new(Time.now.year, Time.now.mon, Time.now.day) %>
    <% until @begin_time.day > Time.now.day %>
      <tr>
        <% @to_time   = @begin_time + 2*60*60 - 1 %>

        <td><%= @begin_time.strftime("%T") + "--" + @to_time.strftime("%T")%></td>

        <% @ctrlbook = Roomhistory.where("number = :number AND userid = :userid AND time_from >= :time_from",
                                          {number: @room.number, userid: current_member.username, time_from: Time.now}).first %>

        <% 7.times do |day_number| %>
            <% @booktime = @begin_time + day_number.days %>
            <% @booktotime = @begin_time + day_number.days + 2*60*60 - 1 %>
            <% @book = Roomhistory.find_by(number: @room.number, time_from: @booktime, time_to: @booktotime) %>
            <td>


            <%if @booktime >= Time.now %>
              <% if @book.nil? %>
                <%= "Available"%><br>
                <% if current_member.multibook? or @ctrlbook.nil?%>
                  <%= link_to "Book", new_roomhistory_path(:number => @room.number,
                                                      :time_from => @booktime,
                                                        :time_to => @booktotime) %>
                <% end %>

              <%else %>
                  <% if current_member.admin? %>
                      <%= "Booked by " %><%= @book.userid %><br>
                  <% else%>
                      <%= "Booked" %><br>
                  <% end%>
                  <% if current_member.admin? || @current_member.username==@book.userid %>
                     <%= link_to "Cancel", cancel_path(:id => @book.id) %>
                  <%end%>
              <%end%>

            <%else %>
              <%= "Unavailable" %><br>
            <%end%>
            </td>
        <%end %>

        <% @begin_time = @begin_time + 2*60*60 %>
      </tr>
    <%end %>
  </tbody>
</table>