<h1>The Library Application</h1>
<h2>Room Info</h2>
<%= link_to "Home", current_member %>
<span style="display:inline-block; width: 3%;"></span>
<%= link_to 'Log out', logout_path %>

<br><br><br><br>
<table>
  <thead>
  <tr>
    <th>Room Number</th>
    <th>Building</th>
    <th>Size</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @room.number %></td>
    <td><%= @room.building %></td>
    <td><%= @room.size  %></td>
    <td><%= link_to 'Edit', edit_room_path %></td>
  </tr>
  </tbody>
</table>



