<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <% if logged_in? %>
          <%= link_to "LibraryRoom Booking", current_member, id: "logo" %>
      <% else %>
          <%= link_to "LibraryRoom Booking", root_path, id: "logo" %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><%= link_to "login", login_path %></li>-->
        <% if logged_in? %>
            <li><%= link_to "Members", members_path %></li>
            <li><%= link_to "Rooms", rooms_path %></li>
            <% if current_member.admin?%>
            <li><%= link_to "Create new admins", new_member_path %></li>
                <% end %>
            <!-- <li><%= link_to "Rooms", rooms_path %></li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_member %></li>
                <li><%= link_to "Update", edit_member_path(current_member) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path %>
                </li>
              </ul>
            </li>
        <% else %>
            <!--<li><%= link_to "Log in", login_path %></li>-->
        <% end %>
      </ul>
    </nav>
  </div>
</header>