<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>
<h1>Update your profile</h1>
<br><br>

<%= link_to "Home", current_member %> <span style="display:inline-block; width: 3%;"></span>
<span style="display:inline-block; width: 3%;"></span>   <%= link_to 'Log out', logout_path %>

<br><br>

<%= form_for(@member) do |f| %>
    <%= render 'shared/error_messages', object: @member %>

    <%= f.label :username %><br>
    <%= f.text_field :username, class: 'form-control' %>
    <br><br>
    <%= f.label :email %><br>
    <%= f.email_field :email, class: 'form-control' %>
    <br><br>

    <% if !current_member.superadmin? %>
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control' %>
    <br><br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
        <% end %>

    <br><br>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>


