<h1>The Library App</h1>
<h2>Listing Members</h2>

<br><br><br>

<%= link_to "Home", current_member %> <span style="display:inline-block; width: 3%;"></span>
<span style="display:inline-block; width: 3%;"></span>   <%= link_to 'Log out', logout_path %>

<br><br><br><br><br><br>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email Id</th>
    <th>Type</th>
    <th>Multiple booking</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @member.each do |member| %>
    <tr>
      <td><%= link_to member.username, member %></td>
      <td><%= member.email %></td>

      <% if member.superadmin? %>
          <td><%= "Super Admin" %></td>
      <% elsif member.admin?%>
          <td><%= "Admin" %></td>
      <% else%>
          <td><%= "User" %></td>
      <% end%>

      <% if member.multibook?%>
          <td><%= "Yes" %></td>
      <% else%>
          <td><%= "No" %></td>
      <% end%>

      <% if !member.admin? %>
    <td>  | <%= link_to "view booking history", historybymember_path(:userid => member.username) %> |</td>
      <% end%>

      <% if current_member.admin? && !member.superadmin? && !current_member?(member)%>
        <% if member.multibook? %>
            <td> <%= link_to "Cancel Multibook", cancelmultibook_path(:id => member.id) %></td>
        <% else%>
            <td> <%= link_to "Allow Multibook", allowmultibook_path(:id => member.id) %></td>
        <% end%>
        <td> <%= button_to "Delete", member, method: :delete, data: { confirm: "You sure?"} %></td>
      <% end %>
    </tr>
<% end %>
</tbody>
</table>

