<h1>The Library App</h1>
<h2>Listing Members</h2>

<br><br><br>

<%= link_to "Home", current_member %> <span style="display:inline-block; width: 3%;"></span>
<span style="display:inline-block; width: 3%;"></span>   <%= link_to 'Log out', logout_path %>

<br><br><br><br><br><br>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email Id</th>
  </tr>
  </thead>

  <tbody>
<% @member.each do |member| %>
    <tr>
      <td><%= link_to member.username, member %></td>
      <td><%= member.email %></td>
      <td><% if current_member.admin? && !member.admin? %>
            | <%= link_to "delete", member, method: :destroy %>
            <% elsif current_member.superadmin? && !current_member?(member) %>
        |  | <%= link_to "delete", member, method: :destroy %>
        <% end %></td>

    </tr>
<% end %>
</tbody>
</table>

