<h1>The Library Application</h1>
<h2>User Profile</h2>

<%= link_to "Home", current_member %>
<span style="display:inline-block; width: 3%;"></span>
<%= link_to 'Edit Profile', edit_member_path %>
<span style="display:inline-block; width: 3%;"></span>
<%= link_to 'Book a Room', search_path %>
<span style="display:inline-block; width: 3%;"></span>
<% if current_member.admin?  %>
     <%= link_to "Manage Members", members_path %> <span style="display:inline-block; width: 3%;"></span>
      <%= link_to "Manage Rooms", rooms_path %> <span style="display:inline-block; width: 3%;"></span>
    <%= link_to "Create New Members", new_member_path %><span style="display:inline-block; width: 3%;"></span>

<% end %>
<span style="display:inline-block; width: 3%;"></span> <%= link_to 'Log out', logout_path %>

<br><br><br>
<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email Id</th>
    <th>Member type</th>
    <% if !@member.admin? %>
        <th>Has Multiple Booking</th>
    <% end%>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @member.username %></td>
        <td><%= @member.email %></td>
        <% if @member.superadmin? %>
            <td><%= "Super Admin" %></td>
        <% elsif @member.admin?%>
            <td><%= "Admin" %></td>
        <% else%>
            <td><%= "User" %></td>
        <% end%>

        <% if !@member.admin?%>
            <% if @member.multibook?%>
                <td><%= "Yes" %></td>
            <% else%>
                <td><%= "No" %></td>
            <% end%>
        <% end%>
      </tr>
  </tbody>
</table>
<br><br>
