<h1>The Library Application</h1>
<h2>User Profile</h2>



<%= link_to 'Edit', edit_member_path %>   <span style="display:inline-block; width: 3%;"></span>   <%= link_to 'Log out', logout_path %>
<span style="display:inline-block; width: 3%;"></span>   <% if current_member.admin?  %>
     <%= link_to "Manage Members", members_path %> <span style="display:inline-block; width: 3%;"></span>
<% end %>
<% if current_member.superadmin? %>
    <%= link_to "Create new admins", new_member_path %>
<% end %>

<br><br><br>
<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email Id</th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @member.username %></td>
        <td><%= @member.email %></td>
        <td><%= @member.admin? %></td>
        <td><%= @member.superadmin? %></td>


      </tr>
  </tbody>
</table>

<br><br>
<li><%= link_to "Home", @member %></li> <span style="display:inline-block; width: 3%;"></span>